In [1]:
from snowflake.snowpark import Session

In [46]:
session.sql('CREATE OR REPLACE TABLE f_f_50 (id INT, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(50))').collect()

[Row(status='Table F_F_50 successfully created.')]

In [49]:
session.sql("""
insert into F_F_50 (id, first_name, last_name, email) values 
(1, 'Arly', 'Lissaman', 'alissaman0@auda.org.au'),
(2, 'Cary', 'Baggalley', 'cbaggalley1@aol.com'),
(3, 'Kimbell', 'Bertrand', 'kbertrand2@twitpic.com'),
(4, 'Peria', 'Deery', 'pdeery3@addtoany.com'),
(5, 'Edmund', 'Caselli', 'ecaselli4@prweb.com'),
(6, 'Davin', 'Daysh', 'ddaysh5@liveinternet.ru'),
(7, 'Starla', 'Legging', 'slegging6@soundcloud.com'),
(8, 'Maud', 'Jaggers', 'mjaggers7@businesswire.com'),
(9, 'Barn', 'Campsall', 'bcampsall8@is.gd'),
(10, 'Marcelia', 'Yearn', 'myearn9@moonfruit.com');
""").collect()

[Row(number of rows inserted=10)]

In [50]:
df = session.table("F_F_50")

In [59]:
session.sql("""select * from F_F_50 where last_name = 'Deery';
""").collect()

[Row(ID=4, FIRST_NAME='Peria', LAST_NAME='Deery', EMAIL='pdeery3@addtoany.com')]

In [58]:
from snowflake.snowpark.functions import col
df_filtered = df.filter(col("last_name") == 'Deery')
df_filtered.show()

------------------------------------------------------------
|"ID"  |"FIRST_NAME"  |"LAST_NAME"  |"EMAIL"               |
------------------------------------------------------------
|4     |Peria         |Deery        |pdeery3@addtoany.com  |
------------------------------------------------------------